@import "tailwindcss";
@import "./theme.css";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  :root {
    --font-body: 'Inter', sans-serif;
    --font-heading: 'Playfair Display', serif;
    --font-lobster: 'Lobster', cursive;
    --font-soviet: 'Russo One', sans-serif;
  }
  
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }
  
  a,
  button {
    @apply outline-accent outline-offset-1 focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed transition-all duration-300;
  }
  
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  .handcrafted-card {
    @apply transition-all duration-300 ease-in-out border border-transparent rounded-xl p-4 -ml-4;
  }
  .handcrafted-card:hover {
    @apply -translate-y-1 bg-muted/30 shadow-sm border-border;
  }
}

@utility max-w-app {
  @apply max-w-3xl;
}

@utility app-layout {
  @apply max-w-app mx-auto w-full px-4;
}

@utility active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-8;
}

:target {
  scroll-margin-block: 1rem;
}
